html {
  margin: 0; 
}

body {
  margin: 0; 
  font-family: sans-serif; 
  overflow-x: hidden; 
}

p{
  font-size: 1.25rem;
}

.mainWrapper {
  margin: 5%; 
  padding: 2%; 
  border:  2px solid #c7e6ed; 
  padding-top: 1%; 
  margin-top: 1%; 
}

ul .nav{
  list-style-type: none;
  text-align: center; 
  margin: 0;
  margin-left: 0%;
  margin-top: 2%; 
  overflow: hidden;
  background-color:#1b1b61 ;
  color: white; 
}

.active {
  background-color: white;
  color: #1b1b61; 
}

ul li .navli {
  list-style-type: none; 
  display: inline-block;
  height: 2.5rem;  
  padding-top: 0.938rem; 
}
 
ol {
  background-color: white;
  border-radius: 1.125rem; 
}

.illness{
  color: blue; 
  text-decoration: underline; 
}

ol li {
  font-weight: bold;
}


.illness li {
  color:black; 
}

.illnesses {
  color: black; 
  background-color: white; 
}

.title {
  font-size: 3.75rem; 
  font-weight: bold;
  display: block;
  margin-left: 0;
  margin-right: auto;

}

.title2 {
  font-size: 2rem; 
  display: block;
  margin-left: 0;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap; 
  flex-direction: row;
  justify-content: center;
}

.row2{
  display: flex;
  padding: 3.125rem; 
  flex-direction: row;
}

.column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  align-items: center;
}

.sidebyside{
  display: flex;
  flex-direction: row;
  padding-top: 3rem;
  padding-bottom: 2rem; 
}

.stack {
  display: flex; 
  background-color: orange;  
  flex-direction: column; 
  align-items: left; 
  /* justify-content: center; */
}

.stackleft {
  display: flex; 
  flex-direction: column; 
  width: 30%; 
}


.logo {
  display: block; 
  max-width: 95%;
  height: auto; 
  margin: auto; 
  margin-left: 3%; 
  margin-right: 2%;
  margin-top: 0.5%; 
  margin-bottom: 0.5%; 
  padding: 0.25rem; 
  border: 0.25rem solid black; 
  border-radius: 0px; 
}

 .purpose2 {
  font-size: 1.563rem; 
  margin: 5%; 
  padding: 3%; 
  margin-top: 0;  
}

.purpose {
  font-size: 2.125rem;
  margin: 3%; 
  margin-left: 12%; 
  padding: 0; 
}

h2 {
  margin-top: 4%; 
  margin-bottom: 0%; 
  font-size: 1.875rem; 
  margin-left: 5%; 
}

h3 {
  margin-top: 5%; 
}

.top {
  margin-top: 2%; 
}

h4 {
  margin-left: 5%; 
}

li:hover {
  cursor: pointer;
}

/* Add a background color to the top navigation */
.topnav {
  background-color: #1b1b61;
  overflow: hidden;
  padding: 1%; 
  margin-top: 0%; 
  border: 0.188rem black solid; 
  border-left-style: hidden;
  border-right-style: hidden; 
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 130%;
  padding: 1rem; 
}

/* Add an active class to highlight the current page */
.active {
  background-color: white;
  color:#1b1b61;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 1rem; 
  border: none;
  outline: none;
  color: white;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute; 
  background-color: #f9f9f9;
  min-width: 10rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  background-color: #1b1b61; 
  color: white;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #1b1b61;
  color: white;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: white; 
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon)
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
} */


.title2 {
  font-size: 1.5rem;  
}


.innernav{
  margin-left: 24%; 
}

span {
  margin: 0px; 
  border: solid 1px; 
  padding: 0.625rem; 
  padding-right: 3.125rem; 
}

.bioimg {
  max-height: 16.25rem; 
  padding: 1rem;   
}

img {
  padding: 1rem;
}

.bioimg:hover { 
  border: 0.188rem solid #1b1b61; 
} 

figure {
  margin: 0;
  padding: 0; 
}

figcaption {
  text-align: center;
}

.bio {
  width: 75%; 
  padding: 0px; 
  font-size: 1.125rem;
}

.container {
  display: flex;
  flex-direction: row; 
  margin: 1.5%;  
  margin-left: 4%; 
  margin-right: 4%;  
  padding: 3%; 
  border: 0.125rem solid #c7e6ed; 
}

button {
  padding: 10% 0% 10% 0%; 
  background-color: white; 
  margin: 6%; 
  border: 0.313rem solid #c7e6ed; 
  border-radius: 8%; 
  font-size: large; 
  font-family: sans-serif; 
}
  
 footer{
  height: 4.375rem; 
  padding: 2%; 
  background-color: #1b1b61;
  color: white; 
  border: 0.188rem black solid; 
  border-left-style: hidden;
  border-right-style: hidden; 
 }

button img {
  max-width:  50%;
  max-height: 30%;  
  min-height: 30%;  
  cursor: pointer; 
   } 

.button_holder2 {
  display: flex; 
  flex-direction: row; 
  margin-left: 15%;
  margin-right: 15%; 
  justify-content: center; 
}

.button_holder3 {
  display: flex;  
  flex-direction: row; 
  margin-bottom: 7%; 
  margin-left: 10%;
  margin-right: 10%; 
  justify-content: center; 
}

.button_holder4 {
  display: flex; 
  flex-direction: row; 
  margin-left: 30%;
  margin-right: 30%; 
  justify-content: center; 
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-size: 1.25rem; 
}

th, td {
  padding: 0.313rem; 
}

table {
  margin-left: 5%; 
}

ul li{
  font-size: 1.25rem; 
}
/* 
.back {
  padding: 1%; 
  margin: 2%; 
  margin-left:5%; 
  border: 0.313rem solid #c7e6ed; 
  border-radius: 8%; 
  font-size: 1rem; 
}
  */

  @media screen and (max-width: 1000px) {
    .title {
      font-size: 2.5rem;  
    }

    .topnav a{
      font-size: 1rem;
      padding: 0.5rem; 
    }

    .innernav{
      margin-left:26%; 
    }

  }
    
  @media screen and (max-width: 700px) {
      .mainWrapper {
        font-size: 1rem; 
        overflow-x: hidden;  
      }

      .title {
        font-size: 1.45rem;
      }

      .title2 {
        font-size: .75rem;
      }

      .purpose {
        font-size: 1.25rem; 
      }

      .purpose2 {
        font-size: 1rem; 
      }
    
      h2 {
        font-size: 1.25rem; 
      }

      .row2{
        flex-direction: column;
        align-items: center;
        padding: 0px; 
      }

      button {
        font-size: .8rem; 
      }

      .topnav a {
        font-size: .75rem; 
      }

      .dropdown-content {
        display: none; 
      }

      .innernav{
        margin-left: 5%; 
      }

      .sidebyside{
        padding-top: 1%;
        padding-bottom: 1%; 
      }
    }

    @media screen and (max-width: 500px) {

        .title {
          font-size: 1.1rem;
        }

        .purpose {
          font-size: 0.8rem; 
        }
      }

    @media screen and (max-width: 400px) {
      .topnav a {
        font-size: .6rem; 
      }

      button {
        height: 90%; 
        width: 90%; 
      }
    }

      @media screen and (max-width: 350px) {
        .topnav a {
          padding: 0.3rem; 
        }

        .title {
          font-size: 0.9rem;
        }

    }